@import url("https://fonts.googleapis.com/css?family=Rubik");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Salsa");

body,
html {
  margin: 0;
  padding: 0;
  background-color: $cream;
}

h1,
h2,
h3,
p {
  color: $white;
  font-family: "Rubik", sans-serif;
}

@mixin mobile {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 900px) {
    @content;
  }
}
